<mat-toolbar color="primary">
  <span>
    <a routerLink="/">My MEAN app project!</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >New Post</a
      >
    </li>
    <li *ngIf="!userAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Log In</a>
    </li>
    <li *ngIf="!userAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
        >Sign Up</a
      >
    </li>
    <li *ngIf="userAuthenticated">
      <button mat-button>Log Out</button>
    </li>
  </ul>
</mat-toolbar>
