<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-card-content>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          matInput
          type="email"
          name="email"
          #emailInput="ngModel"
          ngModel
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid"
          >Please enter valid email</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          #passwordInput="ngModel"
          ngModel
          required
        />
        <mat-error *ngIf="passwordInput.invalid"
          >Please enter a valid password!</mat-error
        >
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Log In</button>
    </mat-card-content>
  </form>
</mat-card>
